@import "tailwindcss";

@theme {
  --color-maple-cream: #fff8ec;
  --color-maple-sky: #bfe6ff;
  --color-maple-orange: #ff9a3c;
  --color-maple-blue: #3d7bff;
  --color-maple-ink: #3b3030;
}

body {
  background-color: var(--color-maple-sky);
  color: var(--color-maple-ink);
}
